# Python bytecode
__pycache__/
*.py[cod]

# Training logs (TensorBoard event files, Monitor wrapper)
logs/

# Trained model weights
models/
*.zip

# For now DeepSets try
evaluate_ds.py
deep_sets_extractor.py
train_ds.py

# TensorBoard Captures
TensorBoard_shots/

# Heatmaps
heatmaps/

# Comparison figures
comparison_figures/

# ASE TUM colors
tumcolors_ase/